/* Developer
   ========================================================================== */

/**
 * Josie Maldonado
 * Live 
 */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&family=Raleway:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f0f4fb;
  font-size: 16px;
  letter-spacing: .4px;
}

header {
  margin: 1% 7%;
}

nav {
  justify-content: end;
}

nav ul {
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav ul li {
  margin: auto;
}

main {
  width: 100%;
  height: 100vh;
  padding: 1% 3%;
  flex-direction: column;
}

a {
    text-decoration: none;
    color: #252b3a;
}

.border {
  border: 1px solid red;
}

.placeholder-img {
    background: url("https://via.placeholder.com/300") no-repeat;
    height: 100%;
    width: 41%;
    background-size: cover;
}

.flex {
  display: flex;
}

.logo {
  height: 55px;
}

.logo-container {
  align-items: center;
}

.full-name-logo {
  background: url("../imgs/Josie-Prince.png") no-repeat;
  width: 50%;
  height: 45%;
  background-position-y: 37%;
}

.all-btns {
  padding: 10px 24px;
  border-radius: 500px;
  background-color: #714aff;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border: none;
  letter-spacing: 0.5px;
}

.dots-container {
  flex-direction: column;
  width: 59%;
  height: 100%;
}

.dot-small-container {
  width: 100%;
  height: 50%;
}

.dot-small {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: auto;
  height: 16%;
  margin-top: 7%;
  margin-left: 60%;
}

.intro-content {
    position: absolute;
    z-index: 1;
    margin: 3.5% 4.2%;
    font-family: "Raleway", sans-serif;
}

.intro-content h2 {
    font-size: 50px;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
}

.intro-content p {
    color: #5f6a8f;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.landing-page-container {
    height: 100%;
    padding-bottom: 5%;
}

.dots-pair-container {
  width: 100%;
  height: 50%;
}

.dot-large {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 27%;
  height: 100%;
  background-position: 0 25%;
}

.dot-medium {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 12%;
  height: 100%;
  margin-left: 53%;
  background-position: 0 15%;
}

.services-container {
    justify-content: center;
    padding: 0 15px;
    margin: 0 5%;
}

.service-box {
    background-color: #fff;
    padding: 30px 14px;
    border-radius: 20px;
    box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
    text-align: center;
    width: 21%;
    margin: 0 1.5%;
}

.service-box h3 {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 28px;
}

.service-box p {
    color: #5f6a8f;
    line-height: 26px;
    margin-bottom: 10px;
}

.service-icon {
    display: flex;
    margin: auto;
    width: 66px;
    padding: 16px;
    border-radius: 500px;
    background-color: #fae5ef;
}

.doc {
    background-color: #f3e4ff !important;
}

.light {
    background-color: #e7e6ff;
}

.tool {
    background-color: #dceeff;
}

#services {
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    width: 100%;
}

#services h2, #work h2 {
    font-family: Raleway, sans-serif;
    color: #252b3a;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}


