/* Developer
   ========================================================================== */

/**
 * Josie Maldonado
 * Live 
 */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&family=Raleway:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f0f4fb;
  font-size: 16px;
  letter-spacing: 0.4px;
}

html {
    scroll-behavior: smooth;
}

header {
  margin: 1% 7%;
}

nav {
  justify-content: end;
}

nav ul {
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav ul li {
  margin: auto;
}

main {
  width: 100%;
  height: 100vh;
  padding: 1% 3%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #252b3a;
}

form h2 {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
  margin: 1% 0;
}

form h4 {
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

input,
textarea {
  background-color: transparent;
  border: 2px solid #714aff;
  border-radius: 5px;
  color: #fff;
  line-height: 20px;
  padding: 14px 34px;
  width: 50%;
}

::placeholder {
  color: #fff;
}

#submit {
  width: 100%;
}

.border {
  border: 1px solid red;
}

.headshot-img {
  background: url("../imgs/headshot-1.jpg") no-repeat;
  height: 80%;
  width: 35%;
  margin: auto;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 10px #fff solid;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}

.flex {
  display: flex;
}

.logo {
  height: 55px;
}

.logo-container {
  align-items: center;
}

.full-name-logo {
  background: url("../imgs/Josie-Prince.png") no-repeat;
  width: 50%;
  height: 50%;
  background-position-y: 37%;
}

.all-btns {
  padding: 10px 24px;
  border-radius: 500px;
  background-color: #714aff;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border: none;
  letter-spacing: 0.5px;
}

.dots-container {
  flex-direction: column;
  width: 59%;
  height: 100%;
}

.dot-small-container {
  width: 100%;
  height: 50%;
}

.dot-small {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: auto;
  height: 16%;
  margin-top: 7%;
  margin-left: 60%;
}

.intro-content {
  flex-direction: column;
  position: absolute;
  z-index: 1;
  margin: 3.5% 4.2%;
  font-family: "Raleway", sans-serif;
}

.intro-content h2 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.intro-content p {
  color: #5f6a8f;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.intro-content button {
    width: 26%;
}

.landing-page-container {
  height: 100%;
  padding-bottom: 5%;
}

.dots-pair-container {
  width: 100%;
  height: 50%;
}

.dot-large {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 27%;
  height: 100%;
  background-position: 0 25%;
}

.dot-medium {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 12%;
  height: 100%;
  margin-left: 53%;
  background-position: 0 15%;
}

.services-container,
.work-container {
  justify-content: center;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 5%;
}

.service-box {
  background-color: #fff;
  padding: 30px 14px;
  border-radius: 20px;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
  text-align: center;
  width: 21%;
  margin: 0 1.5%;
}

.service-box h3 {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 22px;
  line-height: 28px;
}

.service-box p {
  color: #5f6a8f;
  line-height: 26px;
  margin-bottom: 10px;
}

.service-icon {
  display: flex;
  margin: auto;
  width: 66px;
  padding: 16px;
  border-radius: 500px;
  background-color: #fae5ef;
}

.doc {
  background-color: #f3e4ff !important;
}

.light {
  background-color: #e7e6ff;
}

.tool {
  background-color: #dceeff;
}

.section-container {
  width: 100%;
  height: 77vh;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.work-img-container {
  width: 32.4%;
  height: 48%;
  position: relative;
}

.work-img-container:hover .work-img {
  background-color: black;
  opacity: 0.3;
}

.work-img {
  background: url("../imgs/projects/pool-side.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.graduate {
  background: url("../imgs/projects/graduate.jpg") no-repeat;
}

.search {
  background: url("../imgs/projects/search.jpg") no-repeat;
}

.snoopie {
  background: url("../imgs/projects/dog.jpg") no-repeat;
}

.enlighten {
  background: url("../imgs/projects/enlighten.jpg");
}

.tracker {
  background: url("../imgs/projects/tracker.jpg");
}

.bg-properties {
  background-size: cover;
  background-position: center;
}

.img-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.work-img-container:hover .img-content {
  opacity: 1;
}

.img-content h4 {
  color: #fff;
  font-size: 22px;
  margin: 0;
  line-height: 30px;
  font-weight: 400;
}

.img-content p {
  margin-top: 8px;
  margin-bottom: 24px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.about-container {
  margin: 0 20%;
  width: 100%;
  justify-content: space-between;
}

.about-text-container {
  width: 60%;
  height: 100%;
}

.about-text-container h2,
.about-img-container h2 {
  margin-bottom: 30px;
  font-family: Raleway, sans-serif;
  color: #252b3a;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
}

.about-text-container p {
  color: #5f6a8f;
  line-height: 26px;
  margin-bottom: 10px;
}

.about-img-container {
  width: 30%;
  height: 59vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img-container h2 {
  text-align: center;
}

.about-img {
  background: url("../imgs/headshot-3.jpg") no-repeat;
  width: 100%;
  height: 58%;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  border: 10px #fff solid;
  box-shadow: 0 30px 40px 0 rgb(145 150 203 / 20%);
}

.social-media-container {
  width: 50%;
  height: 10%;
  justify-content: space-evenly;
}

.fa_custom {
  color: #99aecf;
}
.contact-container {
  margin: 0 10%;
  width: 80%;
  height: 80vh;
  flex-direction: column;
  max-width: 1200px;
  padding: 60px 100px;
  border-radius: 20px;
  background-color: #252b3a;
  align-items: center;
  justify-content: space-between;
}

.mobile-only {
  display: none;
}

#services,
#work,
#about,
#contact {
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

#services h2,
#work h2 {
  font-family: Raleway, sans-serif;
  color: #252b3a;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
}

#work {
  margin-bottom: 40px;
}

#about {
  flex-direction: row;
  height: 100vh;
}

#contact {
  padding: 20px 0;
  height: 100vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body,
  html {
    max-width: 100%;
    height: auto;
  }
  header {
    margin: 3% 0%;
  }
  input,
  textarea {
    width: 100%;
  }
  form h2 {
    font-size: 27px;
    line-height: 36px;
  }
  header{
    position: fixed;
    background-color: #f0f4fb;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 2% 0;
    z-index: 100;
  }
  .mobile-only {
    display: block;
  }
  .laptop-only {
    display: none;
  }
  .logo-container {
    width: 77% !important;
    margin-left: 3%;
  }
  .logo {
    height: 30px;
  }
  .full-name-logo {
    background-size: cover;
    width: 47%;
    height: 70%;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #252b3a;
  }
  .hamburger {
    left: 85%;
    position: fixed;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .mobile-menu {
    position: absolute;
    left: -100%;
    top: 44px;
    background-color: #fff;
    width: 100% !important;
    transition: 0.3s;
  }

  .mobile-menu ul {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .mobile-menu li {
    margin: 16px 0;
  }
  .mobile-menu.active {
    left: 0;
  }
  .landing-page-container {
    flex-direction: column;
    margin-top: 10%;
  }
  .headshot-img {
    width: 70%;
    margin-top: 5%;
  }
  .intro-content {
    flex-direction: column;
    width: 95% !important;
    margin: 84% 0 0;
  }
  .intro-content h2 {
    margin-top: 0px;
    font-size: 26px;
    line-height: 36px;
  }
  .intro-content p {
    font-size: 14px;
    line-height: 28px;
  }
  .intro-content .main-btn {
    width: 50%;
    margin: auto;
  }
  .dots-container {
    width: 100%;
  }
  .dot-small-container {
    height: 35%;
  }
  .dot-small {
    height: 44%;
    margin-top: 14%;
    margin-left: 87%;
  }
  .dot-medium {
    width: 27%;
    height: 56%;
    margin-left: 10%;
    margin-top: 34%;
  }
  .dot-large {
    width: 53%;
    height: auto;
  }
  .services-container {
    flex-direction: column;
    padding: 0;
  }

  .service-box,
  .work-img-container {
    width: 100%;
    margin: 0 0 5%;
  }
  .work-img-container {
    height: 36vh;
  }

  #services,
  #work,
  #about {
    padding: 0;
  }
  #services h2,
  #work h2 {
    margin-top: 12%;
  }
  #about h2 {
    margin-top: 15%;
  }
  #work,
  #about,
  #contact {
    height: 100%;
  }
  #contact {
    padding-top: 13%;
  }
  .section-container {
    flex-direction: column;
    height: 100%;
  }
  .about-container {
    flex-direction: column;
    margin: 0 5%;
    align-items: center;
  }

  .about-container h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .about-container p {
    font-size: 15px;
    line-height: 26px;
  }

  .about-text-container {
    width: 100%;
  }
  .about-img-container {
    width: 70%;
  }
  .contact-container {
    margin: 0 5%;
    width: 90%;
    padding: 60px 30px;
    height: 90vh;
  }
}
/* WIDE SCREEN */
@media only screen and (min-width: 1400px) {
  .landing-page-container {
    height: 65%;
    margin-top: 5%;
  }
  .intro-content {
    margin-left: 10%;
    margin-top: 7%;
    width: 40% !important;
  }
  .dot-small {
    margin-top: 12%;
  }
  .dot-large {
    margin-left: 10%;
  }
  .dot-medium {
    margin-right: 7%;
  }
  .about-container {
    align-items: center;
  }
  .about-img-container {
    width: 35%;
    height: 65vh;
  }
  .about-img {
    height: 50%;
  }
  .contact-container {
    margin: auto;
  }
}
