@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&family=Raleway:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f0f4fb;
  font-size: 18px;
  letter-spacing: 0.4px;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.border {
  border: 1px solid red;
}

.content-container {
  width: 100%;
  height: 80vh;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.intro-content {
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin: 3.5% 4.2%;
}

.dots-container {
  flex-direction: column;
  width: 40%;
  height: 50%;
}

.dot-small-container {
  width: 100%;
  height: 50%;
}

.dot-small {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: auto;
  height: 30%;
  margin-top: 8%;
  margin-left: 60%;
}

.dots-pair-container {
  width: 100%;
  height: 50%;
}

.dot-large {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 27%;
  height: 100%;
  background-position: 0 25%;
}

.dot-medium {
  background: url("../imgs/dot.png") no-repeat;
  background-size: contain;
  width: 12%;
  height: 100%;
  margin-left: 53%;
  background-position: 0 15%;
}

.all-btns {
  padding: 10px 24px;
  border-radius: 500px;
  background-color: #714aff;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body,
  html {
    max-width: 100%;
    height: auto;
  }
  h2 {
    font-size: 20px;
  }
  .dots-container {
    width: 100%;
  }
  .dot-small {
    margin-top: 16%;
    margin-left: 51%;
  }
}
